body {
 background-color: #ecfaf2;
  color: #333;
  line-height: 1.6;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgb(60, 167, 60);
  color: #fff;
  position: sticky;
  top: 0;
}
.logo h2{
    font-size: 28px;
}
header nav a {
  color: #faf8f3;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover, 
nav .active {
  color: #ffcc80;
}

/* =========================
   Contact Title
========================= */
.contact-title {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #81c582;
}


.contact-title h1 {
    text-align: center;
        padding: 20px;
        margin: 0;
        font-size: 20px;
        color: #050505;
}


/* =========================
   Contact Form
========================= */

.contact-container {
    width: 400px;
    margin: 17px auto;
    padding: 25px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
#contactForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#contactForm input,
#contactForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
#contactForm input {
    height: 40px;
}
#contactForm textarea {
    height: 560px;
    resize: vertical;
}
#contactForm input:focus,
#contactForm textarea:focus {
    outline: none;
    border-color: #c2e222;
}
/* =========================
   Send Button
========================= */

#contactForm button {
    height: 32px;
    border: none;
    border-radius: 4px;
    background-color: #c6e132;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


#contactForm button:hover {
    background-color: #0bb108;
}
.map-section {
  padding: 20px;
  text-align: center;
}

.map-section iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 8px;
}
footer {
  background-color: #064420;   /* ពណ៌ខ្មៅបៃតង */
  color: #fff;                 /* អក្សរពណ៌ស */
  text-align: center;
  padding: 15px;
  position: fixed;             /* ជាប់នៅក្រោម */
  bottom: 0;                   /* នៅចុងក្រោម */
  left: 0;
  width: 100%;                 /* ពេញទំហំទំព័រ */
}
@media (max-width: 768px) {
  /* ១. រៀបចំ Header ឱ្យមានរបៀប និងចំកណ្ដាល */
  header {
    flex-direction: column;
    gap: 12px;
    padding: 15px;
    text-align: center;
  }
}
